<section class="producto-card">
  <div class="card-inner">
    <!-- LADO FRONTAL -->
    <div class="card-front">
      <div class="producto-header">
        <div class="vendedor-info">
          <div class="vendedor-img-placeholder"></div>
          <span class="nombre">{{ p.NombreUsuario }}</span>
        </div>
        
        <a href="/">
          <div class="icono-grupo">
          <img src="/static/img/Untitled-1-01.png" alt="Chat general">
        </div>
        </a>
      </div>

      <div class="producto-info">
        <h2 class="titulo">{{ p.Titulo }}</h2>
        <span class="precio">${{ p.Precio }}</span>
      </div>
      
      <!-- Espacio para imagen -->
      <div class="imagen-placeholder">
        <img class ="imagen-tarjeta" src="{{ p.ImagenURL }}" alt="Imagen Producto">
        <!--span>Imagen no disponible</span-->
      </div>

      <p class="descripcion">{{ p.Descripcion }}</p>

      <button class="comentarios-btn" onclick="mostrarComentarios(this)">
        <i class="bi bi-chat-left-fill" style="color: #be185d;"></i>
      </button>
    </div>

    <!-- LADO TRASERO -->
    <div class="card-back">
      <div class="popup-header">
        <h3>Comentarios</h3>
        <button class="cerrar-popup" onclick="cerrarComentarios(this)">×</button>
      </div>

      <div class="popup-body">
        {% for comentario in p.comentarios %}
        <p><strong>{{ comentario.autor }}:</strong> {{ comentario.texto }}</p>
        {% endfor %}
      </div>

      <div class="popup-input">
        <input type="text" placeholder="Escribe un comentario...">
        <button>➤</button>
      </div>
    </div>
  </div>
</section>