{% extends "navbar.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Carousel de Inicio -->
<div id="inicio-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://scontent.fcjs1-1.fna.fbcdn.net/v/t39.30808-6/572245720_122148255050871153_7468073455831760928_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_ohc=OE4HCEiKLWwQ7kNvwHYYpQo&_nc_oc=AdltVM66RHyZwaoRnfV0Mw5UGs-e_Yc_59CnetLgCo1Uzp4VvYJ9xROqSTheY5KsRjk&_nc_zt=23&_nc_ht=scontent.fcjs1-1.fna&_nc_gid=CFUkfRcdoFXmSOHCAETavw&oh=00_AfiY6BmP_BX0DDSNt5tOI83x1wp5FrswwXwKYOAahZf6Xg&oe=69234091" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
                <img src="https://scontent.fcjs1-1.fna.fbcdn.net/v/t39.30808-6/557594814_1230274739136647_3831918816038784533_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=CTyNKWdj4d8Q7kNvwHCCg8n&_nc_oc=AdkA33Ac4_rwZ7L93pW3iVSXG4ZacNeuGcEfGbSbymGjbi-tZPqkAJ8DsuVHuJ54qcA&_nc_zt=23&_nc_ht=scontent.fcjs1-1.fna&_nc_gid=Of891zFspdcHGqMzDs9SBw&oh=00_AfjP550yCNu5_3jzZfSOC1_yOYjJmfUoTObvvqLk9pF03w&oe=69230DFF" class="d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#inicio-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#inicio-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>

<!-- Área de inicio de sesión / bienvenida -->
<article class="content small-content">
  <h1>Bienvenido</h1>
  <p class="message">Explora nuestra aplicación web y forma parte de la comunidad.</p>

  <div class="content-action">
    <a href="/signup" class="btn singup">Registrarse</a>
    <a href="/login" class="btn login">Iniciar Sesión</a>
  </div>
</article>

<!-- Noticias o artículos destacados -->
<section id="news" class="news-section text-white py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-white fw-bold">Últimas Noticias</h2>
            <div class="row g-4">
                <!-- Noticia 1 -->
                <div class="col-md-4">
                    <div class="card h-100 news-card rounded-3">
                        <img src="https://scontent.fcjs1-2.fna.fbcdn.net/v/t39.30808-6/581443598_1269629961867791_6133224700505501679_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=qrObns4v-bUQ7kNvwHyl4oP&_nc_oc=AdmjEq7gKuXVYjVrf3tjj5KM70Cuk0edkMoGkW_oBzaAmjKEufS70nC-hB_EDEVYXS4&_nc_zt=23&_nc_ht=scontent.fcjs1-2.fna&_nc_gid=_75ckqCDkfXgA1b2PXrRnw&oh=00_AfiPl67t7cWpz5qi-Y6yYOT79mj7VLN7UwMP3pDLAdIsdQ&oe=69232164" class="card-img-top" alt="Noticia 1">
                        <div class="card-body">
                            <h5 class="card-title">AÚN HAY ESPACIOS DISPONIBLES!!</h5>
                            <p class="card-text text-muted">Si quieres participar como vendedor. 
                            <br>El plazo es hasta antes de las 10:00 a. m.</p>
                        </div>
                    </div>
                </div>
                <!-- Noticia 2 -->
                <div class="col-md-4">
                    <div class="card h-100 news-card rounded-3">
                        <img src="https://scontent.fcjs1-1.fna.fbcdn.net/v/t39.30808-6/566227018_1250185167145604_414160568129781099_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=To2MAtIK4UwQ7kNvwEMipSP&_nc_oc=AdkPMe5Yo-XlZnz4GtMhY297ZypjGHVnGOaGVO6VcCooUtZ-IjocBPoOj7UucseiTds&_nc_zt=23&_nc_ht=scontent.fcjs1-1.fna&_nc_gid=Gg4VIYl-0BqK6g2XqaaEdw&oh=00_AfhwnPshM93xq48q3BCKmUmt7kZDmwPO-M2eeAIyS2eWHg&oe=6923363E" class="card-img-top" alt="Noticia 2">
                        <div class="card-body">
                            <h5 class="card-title">BazART IADA Octubre 2025</h5>
                            <p class="card-text text-muted">Miércoles 22 de octubre
                            <br>Audiovisual del B
                            <br>8:00 am
                            <br>­¡¡NO TE LO PIERDAS!</p>
                        </div>
                    </div>
                </div>
                <!-- Noticia 3 -->
                <div class="col-md-4">
                    <div class="card h-100 news-card rounded-3">
                        <img src="https://scontent.fcjs1-1.fna.fbcdn.net/v/t39.30808-6/555451396_1225749902922464_4985883356629028070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=epRs_bNDh10Q7kNvwH0nUsu&_nc_oc=AdkQnnMTsY9pQbJdvzLAEgkBy2h-F-NX8GKTh5HPbXovc0y3MRTNd7VddJwGZ7XCIT4&_nc_zt=23&_nc_ht=scontent.fcjs1-1.fna&_nc_gid=o0CJlBt8tUYrTMkUdpMJxQ&oh=00_Afje6n7ptRohFG2lp2XEzSMhjMp2sckYjKwuN1wof0AdwA&oe=69233AA7" class="card-img-top" alt="Noticia 3">
                        <div class="card-body">
                            <h5 class="card-title">BazART IADA Septiembre 2025</h5>
                            <p class="card-text text-muted">Viernes 26 de septiembre
                            <br>Audiovisual del G1
                            <br>9:00 am
                            <br>­¡¡NO TE LO PIERDAS!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
