<!DOCTYPE html>
<html lang="es">
 
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi App Flask{% endblock %}</title>
     <!-- Libreria para Carruseles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

     <!-- bootstrap y css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">



     <!-- Fuente Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

 
<body>
    <nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm custom-navbar">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" height="60" class="me-3">
            </a>
 
            <!-- Botón responsive -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 text-center">
                    <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/' %}active{% endif %}" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/contact' %}active{% endif %}" href="/contact">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/about' %}active{% endif %}" href="/about">Nosotros</a></li>
 
                    {% if 'user_id' in session %}
                        <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/Producto' %}active{% endif %}" href="/Producto">Producto</a></li>
                        <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/Servicio' %}active{% endif %}" href="/Servicio">Servicio</a></li>
                        <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/Comida' %}active{% endif %}" href="/Comida">Comida</a></li>
                        <!-- Mostrar cuando el usuario ha iniciado sesión -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-semibold" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-lines-fill"></i> {{ session['user_name'] }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item  {% if request.path == '/perfil' %}active{% endif %}" href="/perfil/1">Mi perfil</a></li>
                                <li><a class="dropdown-item {% if request.path == '/settings' %}active{% endif %}" href="/settings">Configuraciones</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="/logout">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <!-- Mostrar cuando NO hay sesión iniciada -->
                        <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/login' %}active{% endif %}" href="/login">Iniciar sesión</a></li>
                        <li class="nav-item"><a class="nav-link fw-semibold {% if request.path == '/signup' %}active{% endif %}" href="/signup">Registrarse</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
 
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class = carrousel>
        {% block extra_js %}{% endblock %}
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
 
</html>
 