{% extends "navbar.html" %}

{% block title %}{{ver.Titulo}}{% endblock %}

{% block content %}
<article class="content">
    <div class="Ver-producto">
            <h1>{{ver.Titulo}}</h1>

    <img src="{{ver.ImagenURL}}">

    <span>{{ ver.Precio }}</span>
    <p>Publicado por: {{ ver.NombreUsuario }}</p>
    <p class="descripcion">{{ ver.Descripcion }}</p>
     
    </div>
    
</article>

<footer class="footer">
  <h2>Contáctanos</h2>
  <div class="columns">
    <div><p>Lorem ipsum dolor sit amet.</p></div>
    <div><p>Lorem ipsum dolor sit amet.</p></div>
    <div><p>Lorem ipsum dolor sit amet.</p></div>
  </div>
</footer>

<script>
function mostrarComentarios(btn) {
  const card = btn.closest('.producto-card');
  card.classList.add('mostrando-comentarios');
}

function cerrarComentarios(btn) {
  const card = btn.closest('.producto-card');
  card.classList.remove('mostrando-comentarios');
}
</script>
{% endblock %}